@charset "UTF-8";

/*
cssでは次の3つの要素で構成します．

タグ名 – どのHTMLタグに対して見合えを調整するか
プロパティ – どういった内容のデザインを施すか
値 – プロパティはどの程度か

簡単に言えば“何に，どのように，どれくらい”デザインを施すかということを示します．
実際に書くと，

タグ名 {
	プロパティ: 値;
}

のようになります．
また，htmlでタグにつけたidやclassを指定してcssを記述することもできます．

.class名 {
    プロパティ名: 値
}
#id名 {
    プロパティ名: 値
}

※idとclassについて
idとclassは，“あるタグのうち一部だけ”を装飾するのに使い，idとclassは

id: 固有の名前を割り当てます．1ページの中でidが重複してはいけません．
class: 種別名を割り当てます．idとは違い何度も使用可能です．
（idを学籍番号，classを学科と考えるとわかりやすいかも）
*/




/*-----base-----*/
body {
    /*bodyの背景の色を指定しています．ブラウザの水色の部分を示しています．*/
    background-color: #87CEEB;
}

/*------element-----*/
/*ここには要素(タグ)に関するcssを記述します*/

table {
    /*表を中央に寄せます．*/
    margin-left: auto;
    margin-right: auto;
}

th {
    /* “商品，料金”とかいてあるところです */
    width: 100px;	/*幅を100pxに指定*/
    background-color: #A4A4A4;	/*背景を濃い灰色にします．*/
    text-align: center;	/*文字を中央に寄せます　*/
}

td　{
    text-align: center; /*文字を中央に寄せます　*/
}


/*-----id-----*/
#contents {
    width: 600px;
    margin: 50px auto;
    background-color: #EEE;
    padding: 5%;
}


/*-----class-----*/
/*ここにはclassに関するcssを記述します*/

/*表の偶数行に関するcssの記述です．*/
.r2 {
    background-color: #D8D8D8;	/*背景色を薄い灰色に指定*/
}

/*注意書きで強調するためのcss (ナレシマは辛い料理～のところ)*/
.attention {
    font-weight: bold;
    color: #FF0000;
}
